{% extends 'core/base.html' %}
{% block title %}Digite sua Nova Senha{% endblock %}
{% block content %}
<main class="login-container">
    <div class="login-form-wrapper">
        <form method="POST" class="login-form">
            {% csrf_token %}
            <h2>Crie sua Nova Senha</h2>
            {% if form.errors %}
                <p style="color: #ff6b6b;">Por favor, corrija os erros abaixo.</p>
            {% endif %}
            
            <div class="input-group">
                <i class="fas fa-lock"></i>
                {{ form.new_password1 }}
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                {{ form.new_password2 }}
            </div>
            <button type="submit" class="btn-login">Salvar Nova Senha</button>
        </form>
    </div>
</main>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelector("#id_new_password1").placeholder = "Nova senha";
        document.querySelector("#id_new_password2").placeholder = "Confirme a nova senha";
    });
</script>
{% endblock %}