{% extends 'core/base.html' %}
{% block title %}Redefinir Senha{% endblock %}
{% block content %}
<main class="login-container">
    <div class="login-form-wrapper">
        <form method="POST" class="login-form">
            {% csrf_token %}
            <h2>Redefinir Senha</h2>
            <p class="form-subtitle">Digite seu e-mail para receber o link de redefinição.</p>
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="email" name="email" placeholder="Seu e-mail" required>
            </div>
            <button type="submit" class="btn-login">Enviar Link</button>
        </form>
    </div>
</main>
{% endblock %}