{% extends 'core/base.html' %}
{% block title %}E-mail Enviado{% endblock %}
{% block content %}
<main class="login-container">
    <div class="login-form-wrapper">
        <div class="login-form" style="text-align: center;">
            <h2>Verifique seu E-mail</h2>
            <p class="form-subtitle">Enviamos um link para redefinição de senha para o seu endereço de e-mail. Por favor, verifique sua caixa de entrada e spam.</p>
            <a href="{% url 'login' %}" class="btn-login" style="display: inline-block; text-decoration: none;">Voltar para Login</a>
        </div>
    </div>
</main>
{% endblock %}