{% extends 'core/base.html' %}
{% load static %}

{% block title %}Login - L.E DARK{% endblock %}

{% block content %}
<main class="login-container">
    <div class="login-form-wrapper">
        <form action="{% url 'login' %}" method="POST" class="login-form">
            {% csrf_token %} {# Tag de segurança obrigatória do Django #}
            
            <h2>Acesse Sua Conta</h2>
            <p class="form-subtitle">Bem-vindo de volta!</p>

            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="email" id="email" name="email" placeholder="Seu e-mail" required>
            </div>

            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" id="password" name="password" placeholder="Sua senha" required>
            </div>
            
            <div class="options-link">
                <a href="{% url 'password_reset' %}">Esqueceu a senha?</a>
            </div>

            <button type="submit" class="btn-login">Entrar</button>

            <div class="register-link">
                <p>Não tem uma conta? <a href="{% url 'cadastre_se' %}">Cadastre-se</a></p>
            </div>
        </form>
    </div>
</main>
{% endblock %}